{
  "openapi": "3.1.0",
  "info": {
    "title": "EAV Ledger API",
    "version": "0.1.0",
    "description": "Laravel billing API for customers, invoices, payments, receipts, and auditable business workflows."
  },
  "servers": [
    {
      "url": "https://ledger.env.pm",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Health"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Catalog"
    },
    {
      "name": "Invoices"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Sanctum token"
      }
    },
    "schemas": {
      "ApiEnvelope": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {},
          "page": {
            "type": [
              "object",
              "null"
            ]
          },
          "sort": {
            "type": [
              "object",
              "null"
            ]
          },
          "filters": {
            "type": [
              "object",
              "null"
            ]
          },
          "error": {}
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": [
          "name",
          "email",
          "password",
          "password_confirmation",
          "device_name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255
          },
          "password": {
            "type": "string",
            "format": "password",
            "minLength": 8
          },
          "password_confirmation": {
            "type": "string",
            "format": "password"
          },
          "device_name": {
            "type": "string",
            "maxLength": 120
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password",
          "device_name"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "device_name": {
            "type": "string",
            "maxLength": 120
          }
        }
      },
      "CustomerRequest": {
        "type": "object",
        "required": [
          "name",
          "country_code"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 160
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email",
            "maxLength": 255
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 40
          },
          "address_line_1": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "city": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "region": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 32
          },
          "country_code": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "GH"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "CatalogItemRequest": {
        "type": "object",
        "required": [
          "type",
          "name",
          "unit_price",
          "currency"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "product",
              "service"
            ]
          },
          "sku": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 64
          },
          "name": {
            "type": "string",
            "maxLength": 160
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          },
          "unit_price": {
            "type": "number",
            "minimum": 0
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "GHS"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "InvoiceRequest": {
        "type": "object",
        "required": [
          "customer_id",
          "issue_date",
          "due_date",
          "currency",
          "lines"
        ],
        "properties": {
          "customer_id": {
            "type": "integer"
          },
          "issue_date": {
            "type": "string",
            "format": "date"
          },
          "due_date": {
            "type": "string",
            "format": "date"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "GHS"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "lines": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "object",
              "required": [
                "catalog_item_id",
                "quantity"
              ],
              "properties": {
                "catalog_item_id": {
                  "type": "integer"
                },
                "description": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "maxLength": 255
                },
                "quantity": {
                  "type": "number",
                  "exclusiveMinimum": 0
                },
                "unit_price": {
                  "type": "number",
                  "minimum": 0
                },
                "tax_rate": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                }
              }
            }
          }
        }
      },
      "InvoiceTransitionRequest": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "issued",
              "void"
            ]
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          }
        }
      },
      "PaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "method",
          "paid_at"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "method": {
            "type": "string",
            "enum": [
              "cash",
              "bank_transfer",
              "card",
              "mobile_money",
              "other"
            ]
          },
          "reference": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "paid_at": {
            "type": "string",
            "format": "date-time"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check API health",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate and create a token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke current access token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logged out"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customers retrieved"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a customer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created"
          },
          "401": {
            "description": "Authentication required"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/customers/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a customer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a customer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Customer not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a customer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      }
    },
    "/api/v1/catalog-items": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List catalog items",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "product",
                "service"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog items retrieved"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Create a catalog item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Catalog item created"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/catalog-items/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get a catalog item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog item retrieved"
          },
          "404": {
            "description": "Catalog item not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Catalog"
        ],
        "summary": "Update a catalog item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog item updated"
          },
          "404": {
            "description": "Catalog item not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Catalog"
        ],
        "summary": "Delete a catalog item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog item deleted"
          },
          "404": {
            "description": "Catalog item not found"
          }
        }
      }
    },
    "/api/v1/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoices",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "issued",
                "partially_paid",
                "paid",
                "void"
              ]
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoices retrieved"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create a draft invoice",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Draft invoice created"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/invoices/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get an invoice and its lines",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice retrieved"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Invoices"
        ],
        "summary": "Delete a draft invoice",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Draft invoice deleted"
          },
          "409": {
            "description": "Invoice is no longer deletable"
          }
        }
      }
    },
    "/api/v1/invoices/{id}/transitions": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Transition an invoice",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceTransitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice transitioned"
          },
          "409": {
            "description": "Transition not allowed"
          }
        }
      }
    },
    "/api/v1/invoices/{id}/history": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get invoice lifecycle history",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice history retrieved"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      }
    },
    "/api/v1/invoices/{id}/payments": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "List payments for an invoice",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated payments retrieved"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Record a payment against an issued invoice",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment recorded"
          },
          "409": {
            "description": "Payment is not allowed or exceeds the balance"
          }
        }
      }
    },
    "/api/v1/payments/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get a payment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Payment retrieved"
          },
          "404": {
            "description": "Payment not found"
          }
        }
      }
    }
  }
}
